.product {
  border-radius: var(--space-2xs);
  box-shadow: 0;
  transition: box-shadow 1200ms cubic-bezier(.17, .67, .61, 1.41);

  &:hover {
    box-shadow: var(--shadow-elevation-high);
    transition: box-shadow 300ms cubic-bezier(.17, .67, .61, 1.41);
  }

  img {
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
  }
}

.category {
  margin-block-start: calc(var(--space-s) * -0.5);
  color: var(--clr-rose-500);
}

.price {
  font-weight: 600;
  color: var(--clr-red);
}

app-button {
  margin-inline: auto;
}
