.confirmation {
  position: absolute;
  z-index: 100;
  inset: 0;
  min-inline-size: 30rem;
  margin: auto;
  border-radius: 0.25rem;
  background-color: var(--clr-neutral-light);

  &::backdrop {
    background-color: rgb(0 0 0 / 80%);
  }
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-rose-50);

  .name {
    font-weight: 600;
  }

  .quantity {
    display: inline-block;
    min-inline-size: 3ch;
    margin-inline-end: 1em;
    font-weight: 600;
    color: var(--clr-red);
  }

  .price {
    margin-inline-end: 0.5em;
    color: var(--clr-rose-500);
  }

  .item-total {
    font-weight: 600;
    color: var(--clr-rose-500);
  }

  button {
    padding: var(--space-2xs);
    background-color: inherit;
  }

  &:not(:last-of-type)::after {
    position: absolute;
    inset-block-end: calc(var(--space-3xs) * -0.5);
    inline-size: calc(100% - (var(--space-2xs) * 2));
    block-size: 1px;
    background-color: var(--clr-rose-100);
    content: "";
  }
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .total {
    color: var(--clr-rose-500);
  }

  .grand-total {
    display: inline-block;
    margin-inline-start: auto;
    font-size: var(--font-size-2);
    font-weight: 900;
  }
}

.confirm {
  inline-size: 100%;
  border-radius: 2rem;
  font-weight: 600;
  color: var(--clr-neutral-light);
  background-color: var(--clr-red);
}
